.header {
    color: whitesmoke;
    text-align: left;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 40px;
}

.form-control {
    border-radius: 50px;
    border: 0;
    padding: 15px;
    margin-right: 5px;
    background-color: whitesmoke;
}

.btn {
    border: 0;
    margin-left: 5px;
    padding: 8px;
    border-radius: 50px;
    background-color: whitesmoke;
}
