.albums {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    overflow-x: auto;
    margin: 50px auto;
    scroll-snap-type: x mandatory;
}

.albums::-webkit-scrollbar {width:0px;}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 300px;
    padding: 70px;
    scroll-snap-align: center;
}

img {
    height: 400px;
    border-radius: 12px;
}

a {
    color: black;
    text-decoration: none;
    text-align: center;
}


.slider-controls {
    display: flex;
    justify-content: space-between;
}

.btn-prev-next {

    background: transparent;
    border-radius: 50%;

}

.btn-prev {

    background: transparent;
    border-radius: 50%;
}
